<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>proyecto-aprender</title>
	<link rel="stylesheet" href="/styles/firstPage.css">
</head>
<body>
	<h1 class="titulo">Inicio</h1>
	<div class="marco">
		<a href="http://localhost:3000/registration">Crear Cuenta</a>
    	<a href="http://localhost:3000/signIn">Iniciar Sesion</a>
		<a href="http://localhost:3000/home">home</a>
	</div>
</body>
</html>