<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proyecto-aprender</title>
	<link rel="stylesheet" href="/styles/signIn.css">
</head>
<body>
	<h1 class="titulo">Iniciar sesion</h1>
	<form class="formulario">
		<input type="text" required minlength="1" name="nombreDeUsuario" placeholder="Nombre de usuario">
		<input type="password" required minlength="7" name="password" placeholder="contraseña">
		<input type="submit" class="enviar">
    	<a href="http://localhost:3000/">atras</a>
	</form>
</body>
</html>