body {
    background-color: rgb(10, 0, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.titulo{
    font-size: 15vh;
    color: aliceblue;
    text-align: center;
}
.formulario {
    height: 45vh;
    width: 35vw;
    border-color: aqua;
    border-width: 0.2vh;
    border-style: solid;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

input{
    width: 30vw;
    height: 2vh;
    border-style: solid;
    border-color: aqua;
    border-width: 0.3vh;
    font-size: 2.4vh;
    cursor: pointer;
    background-color: aliceblue;
    font-weight: 600;
    color: black;
    text-decoration: none;
    line-height: 3vh;
    font-family: serif;
    margin-top: 0vh;
    padding: 1vh;
}

a{
    width: 5vw;
    height: 3vh;
    border-style: solid;
    border-color: aqua;
    border-width: 0.3vh;
    font-size: 2vh;
    cursor: pointer;
    background-color: aliceblue;
    text-align: center;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: serif;
    margin-top: 0vh;
    padding: 0vh;
}

a:hover{
    background-color: aquamarine;
}
a:active {
    transform: scale(0.95);
}




.enviar{
    width: 5vw;
    height: 3vh;
    border-style: solid;
    border-color: aqua;
    border-width: 0.3vh;
    font-size: 2vh;
    cursor: pointer;
    background-color: aliceblue;
    text-align: center;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: serif;
    margin-top: 0vh;
    padding: 0vh;
}

.enviar:hover{
    background-color: aquamarine;
}
.enviar:active {
    transform: scale(0.95);
}

